/* Variables */

:root {
    --primary-color: #FF5722;
    --secondary-color: #1ABCFE;
}


/* General settings */

body {
    overflow-x: hidden;
}


/* Helper classes */

.full-width {
    padding: 0 !important;
}

.centered {
    text-align: center;
}

.centered-both {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    border-radius: 0.5em !important;
    background: var(--primary-color) !important;
    color: #ffffff !important;
    text-transform: uppercase;
    font-weight: 500 !important;
    line-height: 16px !important;
}

.button:hover {
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}

.divider {
    width: 50%;
    height: 1px;
    background: #555555;
    margin: 4em auto;
}

[aos="fade"], [aos="fade-right"], [aos="fade-left"] {
    opacity: 0;
    transition-property: opacity;
}
  
[aos="fade"].aos-animate, [aos="fade-right"].aos-animate, [aos="fade-left"].aos-animate {
    opacity: 1;
}


/* Font */

html, * {
    font-family: 'Rubik', sans-serif !important;
}

h1, h2 {
    font-style: normal !important;
    font-weight: 300 !important;
}

h1 {
    font-size: 90px !important;
    line-height: 114px !important;
    letter-spacing: -1.5px !important;
}

h2 {
    font-size: 60px !important;
    line-height: 71px !important;
    letter-spacing: -0.5px !important;
}

h3, h4, h5 {
    font-style: normal !important;
    font-weight: normal !important;
}

h3 {
    font-size: 48px !important;
    line-height: 57px !important;
    letter-spacing: 0px !important;
}

h4 {
    font-size: 34px !important;
    line-height: 40px !important;
    letter-spacing: 0.25px !important;
}

h5 {
    font-size: 24px !important;
    line-height: 28px !important;
    letter-spacing: 0px !important;
}

h6 {
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 20px !important;
    line-height: 24px !important;
    letter-spacing: 0.15px !important;
}

/* Hero */

.hero {
    height: 100vh;
    background: linear-gradient(135deg, var(--primary-color) 26.6%, var(--secondary-color) 72.21%),
        linear-gradient(-90deg, var(--primary-color) 26.6%, var(--secondary-color) 72.21%);
    background-blend-mode: overlay;
    color: #ffffff;
    margin-bottom: 4em;
}

@media only screen and (max-width: 1024px) {
    .hero {
        height: 140vh;
    }
}

.hero div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero img {
    max-width: 40%;
    height: auto;
}

.hero .title-section {
    justify-content: center;
}

.hero .title-section .button {
    margin-top: 2em;
}

.hero .mockup-section {
    justify-content: center;
}


/* Features */

.feature-row {
    min-height: 75vh;
}


/* Banner */

.banner {
    height: 40vh;
    background: linear-gradient(135deg, var(--primary-color) 26.6%, var(--secondary-color) 72.21%),
        linear-gradient(-90deg, var(--primary-color) 26.6%, var(--secondary-color) 72.21%);
    background-blend-mode: overlay;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4em;
}
